* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* 
background: #052440;
background: -webkit-linear-gradient(bottom right, #052440, #4D6180);
background: -moz-linear-gradient(bottom right, #052440, #4D6180);
background: linear-gradient(to top left, #052440, #4D6180);
*/

body {
  margin: 0;
  background-color: #052440;
  padding: 0;
  color: #000000;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.title {
  font-size: 65px;
  letter-spacing: 2px;
  text-align: center;
  color: #f0f0f0;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 25px;
  padding: 10px;
  color: #f0f0f0;
  font-weight: 400;
  letter-spacing: 2px;

}

input {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 0%;
  font-size: 20px;
}

.button {
  width: 100px;
  height: 30px;
  padding: 0;
  margin: 5px;
  color: #0f0f0f;
  background-color: #f0f0f0;
  border: none;
}

/* Movie Cards */

.card-list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  cursor: pointer;
  background: transparent;
  height: 600px;
  width: 100%;
  perspective: 1000px;
  margin-bottom: 0px;
  box-shadow: 1px 1px 5px rgba(153, 149, 149, 0.25);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */

}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.card-front {
  background-color: #f0f0f0;
  color: #0f0f0f;
  box-shadow: 1px 1px 5px rgba(153, 149, 149, 0.25);
}

.card-back {
  display: flex;
  flex-direction: column;
  background-color: blue;
  color: #ffffff;
  transform: rotateY(180deg);
  align-items: center;
  height: 600px;
 
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.card-back p {
  padding-right: 40px;
  font-size: 18px;
}

.card h1 {
  font-size: 25px;
  padding-bottom: 10px;
  margin-top: 20%;
  margin-bottom: 5px;
  color: #f0f0f0;
}

.card img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.card li {
  list-style: none;
}

@media (max-width: 1200px) {

  .card-list {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card {
    height: 600px;
    margin-bottom: 10px;
  }

  .card-back p {
    padding-right: 40px;
    font-size: 18px;
  }
    
}

@media (max-width: 500px) {

  .title {
    font-size: 35px;
  }

  .label {
    font-size: 15px;
  }

  /* .card img {
    width: 100%;
    height: 100%;
  } */

  .card-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .card {
    margin-bottom: 0px;
    height: 450px;
    width: 100%;
  }

  input {
    font-size: 10px ;
  }
  

}